# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bb68f923893aef3a1b4aa25c3725c67a5638ff618a1bc971111b4a3b3af4b772585b407ae4e067a22c9513e8edaf3bf90cd8f53430c712ef1d144040567fc813

test:
  secret_key_base: 044365dbd1f923bf9093cd93ab2035bcc3d6cb31b34b8011deefb1610f6ed2c28aaca2a116f60a20dcfddf35fa917da6d69e47f992c9cb197e22d397246ec236

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
